
[Unit]
Description=x11vnc, Set desktop to auto login and prevent screen locking .. else you will need to deal with Xauth
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/usr/bin/x11vnc -forever -localhost -nevershared -display :0 -env FD_XDM=1 -auth guess
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
